/*navbar*/
.navbar-nav.menu .nav-link 
{
    margin-right: 30px;
}
.nav-link
{
    color: grey;
    font-family: secondfamily
}
#homeNav
{
    color: #0057e7;
}
#featuresNav:hover
{
    color: #d62d20;
}
#pricingNav:hover
{
    color: #008744;
}
#DisabledNav:hover
{
    color: 	#ffa700;
}
@font-face 
{
    font-family: myFirstFont;
    src: url(/fonts/GoogleSansDisplay-Regular-v1.27.ttf);
}
@font-face 
{
    font-family: secondfamily;
    src: url(/fonts/GoogleSansDisplay-Bold-v1.27.ttf);
}
.navbar-brand
{
    font-family: myFirstFont;
    color: grey;
}
.navbar
{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff;
}
.myfont
{
    font-size: 10px;
    text-align: left;
    padding-left: 43px;
    line-height: 0;
}
/*contact*/
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: white;
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: black;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ea4335;
  }
  
  .screen-header-button.maximize {
    background: #4285fa;
  }
  
  .screen-header-button.minimize {
    background: #34a853;
  }

  .screen-header-button.minimizee {
    background: #fbbc05;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea4335;
  }
  .app-title1:after {
    content: '';
    display: block;
    position: absolute;
    left: 25px;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #4285f4;
  }
  .app-title2:after {
    content: '';
    display: block;
    position: absolute;
    left: 50px;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #34a853;
  }
  .app-title3:after {
    content: '';
    display: block;
    position: absolute;
    left: 75px;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fbbc05;
  }
  
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #4285f4;
  }
  
  
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  .contactsvg img {
    width: 100%; /* Set the width to 100% */
    height: auto; /* Allow the height to adjust proportionally */
    max-width: 60%; /* Limit the width to the container's width */
    max-height:60%; /* Limit the height to the container's height */
    position: absolute;
    top: 160px; /* Adjust top positioning */
    left: -40px; /* Adjust left positioning */
  }
  
  @media (max-width: 768px) {
    .contactsvg img {
      max-width: 20%;
      max-height: 20%;
      top: 10%; /* Adjust top positioning for smaller screens */
      left: 65%; /* Adjust left positioning for smaller screens */
    }
  }
  
 
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
 
/*footer*/

.footername
{
    font-family: myFirstFont;
    font-size: larger;
    color: grey;
}

.footer {
  position: relative;
  width: 100%;
  background: black;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footerlogo
{
    display: flex;
}
.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}